<mat-card>
  <mat-card-content>
    <form action="" class="user-form" appPasswordConfirmationValidation #userForm="ngForm">
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-100">
          <mat-label>Nome:</mat-label>
          <input matInput [(ngModel)]="userSelected.name" required name="name" />
          <mat-error>
            O
            <b>Nome</b>
            é obrigatório.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Usuário:</mat-label>
          <input
            matInput
            [(ngModel)]="userSelected.username"
            [ngModelOptions]="{ updateOn: 'blur' }"
            required
            name="username"
            #usernameControl="ngModel"
            appCredentialValidator="username"
          />
          <mat-hint>
            O
            <b>Usuário</b>
            será utilizado para o login.
          </mat-hint>
          <mat-error *ngIf="usernameControl.hasError('required')">
            O
            <b>Usuário</b>
            é obrigatório.
          </mat-error>
          <mat-error *ngIf="usernameControl.hasError('invalidUsername') && !usernameControl.hasError('required')">
            Este
            <b>Usuário</b>
            já está sendo utilizado
          </mat-error>
        </mat-form-field>

        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>E-mail:</mat-label>
          <input
            matInput
            [(ngModel)]="userSelected.email"
            [ngModelOptions]="{ updateOn: 'blur' }"
            required
            appEmailPatternValidator
            name="email"
            #emailControl="ngModel"
            appCredentialValidator="email"
          />
          <mat-error *ngIf="emailControl.hasError('required')">
            O
            <b>E-mail</b>
            é obrigatório.
          </mat-error>
          <mat-error *ngIf="emailControl.hasError('invalidEmailPattern') && !emailControl.hasError('required')">
            O
            <b>E-mail</b>
            é deve ser válido.
          </mat-error>
          <mat-error *ngIf="emailControl.hasError('invalidEmail') && !emailControl.hasError('required')">
            Este
            <b>E-mail</b>
            já está sendo utilizado
          </mat-error>
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Senha:</mat-label>
          <input
            matInput
            [(ngModel)]="userSelected.password"
            (ngModelChange)="onPasswordChange($event)"
            required
            name="password"
            type="password"
            #passwordControl="ngModel"
            appPasswordStrengthValidator
            required
          />
          <mat-error *ngIf="passwordControl.hasError('required')">
            A
            <b>Senha</b>
            é obrigatória.
          </mat-error>
          <mat-error
            *ngIf="passwordControl.hasError('invalidPasswordStrength') && !passwordControl.hasError('required')"
          >
            Digite uma Senha
            <b>mais forte</b>
            .
          </mat-error>
          <mat-progress-bar [value]="passwordStrengthValue" [ngClass]="prepareProgressColorClass()"></mat-progress-bar>
        </mat-form-field>

        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Confirmar senha:</mat-label>
          <input
            matInput
            ngModel
            required
            name="passwordConfirmation"
            type="password"
            #passwordConfirmationControl="ngModel"
            autocomplete="off"
          />
          <mat-error *ngIf="passwordConfirmationControl.hasError('required')">
            A
            <b>Confirmação</b>
            é obrigatória.
          </mat-error>
          <mat-error
            *ngIf="
              passwordConfirmationControl.hasError('invalidPasswordConfirmation') &&
              !passwordConfirmationControl.hasError('required')
            "
          >
            As
            <b>senhas</b>
            estão incorretas
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
