<mat-card>
  <mat-card-content>
    <form action="" class="user-form" appPasswordConfirmationValidation #userForm="ngForm">
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-100">
          <mat-label>Nome:</mat-label>
          <input matInput [(ngModel)]="userSelected.name" required name="name" />
          <mat-error>
            O
            <b>Nome</b>
            é obrigatório.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Usuário:</mat-label>
          <input
            matInput
            [(ngModel)]="userSelected.username"
            [ngModelOptions]="{ updateOn: 'blur' }"
            required
            name="username"
            #usernameControl="ngModel"
            appCredentialValidator="username"
          />
          <mat-hint>
            O
            <b>Usuário</b>
            será utilizado para o login.
          </mat-hint>
          <mat-error *ngIf="usernameControl.hasError('required')">
            O
            <b>Usuário</b>
            é obrigatório.
          </mat-error>
          <mat-error *ngIf="usernameControl.hasError('invalidUsername') && !usernameControl.hasError('required')">
            Este
            <b>Usuário</b>
            já está sendo utilizado
          </mat-error>
        </mat-form-field>

        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>E-mail:</mat-label>
          <input
            matInput
            [(ngModel)]="userSelected.email"
            [ngModelOptions]="{ updateOn: 'blur' }"
            required
            appEmailPatternValidator
            name="email"
            #emailControl="ngModel"
            appCredentialValidator="email"
          />
          <mat-error *ngIf="emailControl.hasError('required')">
            O
            <b>E-mail</b>
            é obrigatório.
          </mat-error>
          <mat-error *ngIf="emailControl.hasError('invalidEmailPattern') && !emailControl.hasError('required')">
            O
            <b>E-mail</b>
            é deve ser válido.
          </mat-error>
          <mat-error *ngIf="emailControl.hasError('invalidEmail') && !emailControl.hasError('required')">
            Este
            <b>E-mail</b>
            já está sendo utilizado
          </mat-error>
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Senha:</mat-label>
          <input
            matInput
            [(ngModel)]="userSelected.password"
            (ngModelChange)="onPasswordChange($event)"
            required
            name="password"
            type="password"
            #passwordControl="ngModel"
            appPasswordStrengthValidator
            required
          />
          <mat-error *ngIf="passwordControl.hasError('required')">
            A
            <b>Senha</b>
            é obrigatória.
          </mat-error>
          <mat-error
            *ngIf="passwordControl.hasError('invalidPasswordStrength') && !passwordControl.hasError('required')"
          >
            Digite uma Senha
            <b>mais forte</b>
            .
          </mat-error>
          <mat-progress-bar [value]="passwordStrengthValue" [ngClass]="prepareProgressColorClass()"></mat-progress-bar>
        </mat-form-field>

        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Confirmar senha:</mat-label>
          <input
            matInput
            ngModel
            required
            name="passwordConfirmation"
            type="password"
            #passwordConfirmationControl="ngModel"
            autocomplete="off"
          />
          <mat-error *ngIf="passwordConfirmationControl.hasError('required')">
            A
            <b>Confirmação</b>
            é obrigatória.
          </mat-error>
          <mat-error
            *ngIf="
              passwordConfirmationControl.hasError('invalidPasswordConfirmation') &&
              !passwordConfirmationControl.hasError('required')
            "
          >
            As
            <b>senhas</b>
            estão incorretas
          </mat-error>
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Data de nascimento:</mat-label>
          <input
            matInput
            name="birth"
            [matDatepicker]="picker"
            [min]="minDate"
            [max]="maxDate"
            [ngModel]="dateValue"
            (dateChange)="onDateChange($event)"
            readonly
            required
          />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancelar</button>
              <button mat-raised-button matDatepickerApply color="primary">Confirmar</button>
            </mat-datepicker-actions>
          </mat-datepicker>
          <mat-hint>dd/mm/aaaa</mat-hint>
          <mat-error>
            A
            <b>Data de nascimento</b>
            é obrigatória.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Estado:</mat-label>
          <mat-select name="state" [(ngModel)]="userSelected.state" required>
            <mat-option>-</mat-option>
            <mat-option *ngFor="let state of statesList" [value]="state.id">{{ state.nome }}</mat-option>
          </mat-select>
          <mat-error *ngIf="passwordControl.hasError('required')">
            O
            <b>Estado</b>
            é obrigatório.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <div class="user-form__musics">
          <mat-divider></mat-divider>
          <div class="user-form__musics-title">
            <h2>Minhas músicas:</h2>
          </div>

          <table mat-table [dataSource]="userSelected.musics" class="user-form__item user-form__item-100">
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>Título</th>
              <td mat-cell *matCellDef="let element; let i = index">
                <mat-form-field class="user-form__item user-form__item-100">
                  <mat-label>Título:</mat-label>
                  <input matInput [(ngModel)]="element.title" required [name]="'titulo-' + i" />
                  <mat-error>
                    O
                    <b>Título</b>
                    é obrigatório.
                  </mat-error>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="band">
              <th mat-header-cell *matHeaderCellDef>Banda</th>
              <td mat-cell *matCellDef="let element; let i = index">
                <mat-form-field class="user-form__item user-form__item-100">
                  <mat-label>Banda:</mat-label>
                  <input matInput [(ngModel)]="element.band" required [name]="'band-' + i" />
                  <mat-error>
                    A
                    <b>Banda</b>
                    é obrigatória.
                  </mat-error>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="genre">
              <th mat-header-cell *matHeaderCellDef>Gênero</th>
              <td mat-cell *matCellDef="let element; let i = index">
                <mat-form-field class="user-form__item user-form__item-100">
                  <mat-label>Gênero:</mat-label>
                  <input
                    matInput
                    [(ngModel)]="element.genre"
                    required
                    [name]="'genre-' + i"
                    [matAutocomplete]="auto"
                    (ngModelChange)="filterGenres($event)"
                  />
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                    <mat-option>-</mat-option>
                    <mat-option [value]="genre.id" *ngFor="let genre of filteredGenresList">
                      {{ genre.description }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error>
                    O
                    <b>Gênero</b>
                    é obrigatório.
                  </mat-error>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="favorite">
              <th mat-header-cell *matHeaderCellDef>Favorita</th>
              <td mat-cell *matCellDef="let element; let i = index">
                <mat-checkbox
                  [name]="'favorite-' + i"
                  [(ngModel)]="element.isFavorite"
                  [disabled]="isAnyCheckboxChecked() && !element.isFavorite"
                ></mat-checkbox>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
