<div class="app">
  <div *ngIf="usersList$ | async as usersList; else loading">
    <app-users-card-list [usersList]="usersList" (userSelected)="userSelected($event)"></app-users-card-list>
  </div>
  <ng-template #loading>
    <app-user-list-loading></app-user-list-loading>
  </ng-template>

  <app-user-form
    *ngIf="userSeletedIndex !== undefined"
    [genresList]="genresList"
    [statesList]="statesList"
    [userSelected]="userSeletedCopy"
    (formSubmit)="onFormSubmit()"
    (cancelSubmit)="onCancelSubmit()"
  ></app-user-form>
</div>
